config/n8n/gmail_to_mailplus.json
{
  "name": "Gmail → MailPlus [Gmail] Tag",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "gmail-imap-trigger",
      "name": "Gmail IMAP Trigger",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [250, 300],
      "credentials": {
        "imap": {
          "id": "gmail-imap",
          "name": "Gmail IMAP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepend [Gmail] tag to subject line\nfor (const item of $input.all()) {\n  const originalSubject = item.json.subject || '(no subject)';\n  item.json.subject = '[Gmail] ' + originalSubject;\n  item.json.originalSubject = originalSubject;\n  item.json.source = 'gmail';\n}\nreturn $input.all();"
      },
      "id": "tag-subject",
      "name": "Tag Subject [Gmail]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "fromEmail": "mlesnews@<LOCAL_HOSTNAME>",
        "toEmail": "mlesnews@<LOCAL_HOSTNAME>",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.textPlain || $json.text || $json.html || '' }}",
        "options": {
          "appendAttribution": false,
          "replyTo": "={{ $json.from }}"
        }
      },
      "id": "send-to-mailplus",
      "name": "Forward to MailPlus",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [710, 300],
      "credentials": {
        "smtp": {
          "id": "mailplus-smtp",
          "name": "MailPlus SMTP"
        }
      }
    }
  ],
  "connections": {
    "Gmail IMAP Trigger": {
      "main": [
        [
          {
            "node": "Tag Subject [Gmail]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Subject [Gmail]": {
      "main": [
        [
          {
            "node": "Forward to MailPlus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "lumina-nas"
  },
  "tags": [
    {
      "name": "email"
    },
    {
      "name": "lumina"
    }
  ]
}
