config/n8n/lumina_gmail_integration_workflow.json
{
  "name": "LUMINA-Gmail Integration Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - Check Every 5 Minutes",
      "type": "n8n-nodes-base.schedule",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 50,
        "simple": false,
        "options": {
          "q": "is:unread has:attachment"
        }
      },
      "id": "gmail-get-unread",
      "name": "Gmail - Get Unread with Attachments",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{$json.id}}",
        "options": {
          "format": "full"
        }
      },
      "id": "gmail-get-details",
      "name": "Gmail - Get Message Details",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/lumina-gmail/process",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "id": "process-email",
      "name": "Process with LUMINA-Gmail System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/lumina-gmail/admin-sme/create-job",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "id": "create-admin-job",
      "name": "Create Admin SME Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/lumina-gmail/jediarchives/archive",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "id": "archive-to-jediarchives",
      "name": "Archive to JEDIARCHIVES",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/lumina-gmail/holocron/index",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "id": "index-in-holocron",
      "name": "Index in HOLOCRON Library",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/lumina-gmail/f4/process",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "id": "process-with-f4",
      "name": "Process with @F4 Capabilities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/lumina-gmail/sla/check",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "id": "check-sla",
      "name": "Check SLA Compliance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1850, 300]
    }
  ],
  "connections": {
    "Schedule - Check Every 5 Minutes": {
      "main": [[{"node": "Gmail - Get Unread with Attachments", "type": "main", "index": 0}]]
    },
    "Gmail - Get Unread with Attachments": {
      "main": [[{"node": "Gmail - Get Message Details", "type": "main", "index": 0}]]
    },
    "Gmail - Get Message Details": {
      "main": [[{"node": "Process with LUMINA-Gmail System", "type": "main", "index": 0}]]
    },
    "Process with LUMINA-Gmail System": {
      "main": [[{"node": "Create Admin SME Job", "type": "main", "index": 0}]]
    },
    "Create Admin SME Job": {
      "main": [[{"node": "Archive to JEDIARCHIVES", "type": "main", "index": 0}]]
    },
    "Archive to JEDIARCHIVES": {
      "main": [[{"node": "Index in HOLOCRON Library", "type": "main", "index": 0}]]
    },
    "Index in HOLOCRON Library": {
      "main": [[{"node": "Process with @F4 Capabilities", "type": "main", "index": 0}]]
    },
    "Process with @F4 Capabilities": {
      "main": [[{"node": "Check SLA Compliance", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-01-02T00:00:00.000Z",
      "updatedAt": "2026-01-02T00:00:00.000Z",
      "id": "1",
      "name": "LUMINA"
    },
    {
      "createdAt": "2026-01-02T00:00:00.000Z",
      "updatedAt": "2026-01-02T00:00:00.000Z",
      "id": "2",
      "name": "Gmail"
    },
    {
      "createdAt": "2026-01-02T00:00:00.000Z",
      "updatedAt": "2026-01-02T00:00:00.000Z",
      "id": "3",
      "name": "Admin"
    },
    {
      "createdAt": "2026-01-02T00:00:00.000Z",
      "updatedAt": "2026-01-02T00:00:00.000Z",
      "id": "4",
      "name": "JEDIARCHIVES"
    },
    {
      "createdAt": "2026-01-02T00:00:00.000Z",
      "id": "5",
      "name": "HOLOCRON"
    },
    {
      "createdAt": "2026-01-02T00:00:00.000Z",
      "id": "6",
      "name": "F4"
    },
    {
      "createdAt": "2026-01-02T00:00:00.000Z",
      "id": "7",
      "name": "SLA"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-02T00:00:00.000Z",
  "versionId": "1"
}
