config/n8n/proton_bridge_workflow.json
{
  "name": "ProtonMail Bridge to MailStation Integration",
  "workflow_id": "protonmail_bridge_mailstation",
  "description": "Fetches ProtonMail emails via Bridge and forwards to MailStation",
  "enabled": true,
  "nodes": [
    {
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      }
    },
    {
      "name": "Get Proton Bridge Credentials",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300],
      "parameters": {
        "functionCode": "// Get Proton Bridge credentials from ProtonPassCli or Azure Key Vault\n// Priority: 1) ProtonPassCli, 2) Azure Key Vault, 3) Environment variables\n\nconst { execSync } = require('child_process');\n\nlet credentials = {\n  host: process.env.PROTON_BRIDGE_HOST || 'host.docker.internal',\n  imapPort: parseInt(process.env.PROTON_BRIDGE_IMAP_PORT || '1143'),\n  smtpPort: parseInt(process.env.PROTON_BRIDGE_SMTP_PORT || '1025'),\n  username: '',\n  password: '',\n  source: 'none'\n};\n\n// Try to get credentials from retrieval script (ProtonPassCli/Azure Vault)\ntry {\n  const scriptPath = '/app/scripts/python/get_proton_bridge_credentials.py';\n  const result = execSync(`python3 ${scriptPath} --account-name proton-bridge`, { encoding: 'utf-8' });\n  const creds = JSON.parse(result);\n  \n  if (creds.username && creds.password) {\n    credentials.username = creds.username;\n    credentials.password = creds.password;\n    credentials.source = creds.source || 'protonpasscli';\n  }\n} catch (error) {\n  // Fallback to environment variables\n  credentials.username = process.env.PROTON_BRIDGE_USERNAME || '';\n  credentials.password = process.env.PROTON_BRIDGE_PASSWORD || '';\n  credentials.source = 'environment';\n}\n\nreturn [{ json: credentials }];"
      }
    },
    {
      "name": "Fetch ProtonMail via Bridge",
      "type": "n8n-nodes-base.emailImap",
      "typeVersion": 1,
      "position": [650, 300],
      "parameters": {
        "host": "={{ $json.host }}",
        "port": "={{ $json.imapPort }}",
        "secure": false,
        "allowUnauthorizedCerts": true,
        "mailbox": "INBOX",
        "options": {
          "seen": false,
          "new": true
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "imap": {
          "user": "={{ $json.username }}",
          "password": "={{ $json.password }}"
        }
      }
    },
    {
      "name": "Process Emails",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300],
      "parameters": {
        "functionCode": "// Process and format emails for MailStation\nconst items = $input.all();\nconst processed = items.map(item => {\n  const email = item.json;\n  return {\n    from: email.from || email.fromEmail || '',\n    to: 'mlesn@<LOCAL_HOSTNAME>',\n    subject: email.subject || `ProtonMail: ${email.messageId || 'No Subject'}`,\n    text: email.text || email.textPlain || '',\n    html: email.html || email.textHtml || '',\n    attachments: email.attachments || [],\n    date: email.date || new Date().toISOString(),\n    messageId: email.messageId || '',\n    source: 'protonmail_bridge'\n  };\n});\n\nreturn processed.map(item => ({ json: item }));"
      }
    },
    {
      "name": "Send to MailStation",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1050, 300],
      "parameters": {
        "host": "<NAS_PRIMARY_IP>",
        "port": 25,
        "secure": false,
        "requireTLS": true,
        "fromEmail": "={{ $json.from }}",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.text }}",
        "html": "={{ $json.html }}",
        "attachments": "={{ $json.attachments }}"
      },
      "credentials": {
        "smtp": {
          "user": "mlesn@<LOCAL_HOSTNAME>",
          "password": "={{ $env.MAILSTATION_PASSWORD }}"
        }
      }
    },
    {
      "name": "SYPHON Intelligence Extraction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1250, 300],
      "parameters": {
        "url": "http://localhost:8000/api/syphon/email",
        "method": "POST",
        "bodyParameters": {
          "email": "={{ $json }}",
          "source": "protonmail_bridge"
        }
      }
    },
    {
      "name": "Log Success",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1450, 300],
      "parameters": {
        "functionCode": "// Log successful email processing\nconst email = $json;\nconsole.log(`✅ Processed ProtonMail email: ${email.subject}`);\nreturn [{ json: { status: 'success', email: email.subject } }];"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Get Proton Bridge Credentials", "type": "main", "index": 0 }]]
    },
    "Get Proton Bridge Credentials": {
      "main": [[{ "node": "Fetch ProtonMail via Bridge", "type": "main", "index": 0 }]]
    },
    "Fetch ProtonMail via Bridge": {
      "main": [[{ "node": "Process Emails", "type": "main", "index": 0 }]]
    },
    "Process Emails": {
      "main": [[{ "node": "Send to MailStation", "type": "main", "index": 0 }]]
    },
    "Send to MailStation": {
      "main": [[{ "node": "SYPHON Intelligence Extraction", "type": "main", "index": 0 }]]
    },
    "SYPHON Intelligence Extraction": {
      "main": [[{ "node": "Log Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["protonmail", "bridge", "mailstation", "email", "integration"],
  "triggerCount": 0,
  "updatedAt": "2026-01-15T00:00:00.000Z",
  "versionId": "1"
}
